<section class="container">
<form action="" class="formulario" (ngSubmit)="transferir()">
    <h2 class="titulo">Nova Transferencia</h2>
    <div class="form-field">
      <label for="valor" class="form-field__label">Valor</label>
      <input type="text" class="form-field__input" id="valor" [(ngModel)]="valor" name="valor">
    </div>
    <div class="form-field">
      <label for="conta" class="form-field__label">Conta</label>
      <input type="text" class="form-field__input" id="conta" [(ngModel)]="destino" name="destino">
    </div>
    <div class="botao-wrapper">
      <button class="botao">Transferir</button>
    </div>
  </form>
</section>